.circle {
  /* Positioning */
  /* Box-model */
  width: 35em;
  height: 35em;
  margin: 0 auto;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Typography */
  /* Visual */
  border-radius: 50%;
  /* Misc */
}

.circle > svg {
  position: relative;
  z-index: 5;
  border-radius: 50%;
}

.hue {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  background-blend-mode: screen;
  background: radial-gradient(circle closest-side, white, black 90%),
    conic-gradient(
      #0080ff,
      #8000ff,
      fuchsia,
      #ff0080,
      red,
      #ff8000,
      yellow,
      #80ff00,
      lime,
      #00ff80,
      aqua,
      #0080ff
    );
  border-radius: 50%;
  position: relative;
  /* Misc */
}

.hue::before {
  /* Positioning */
  position: absolute;
  /* Box-model */
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  /* Typography */
  /* Visual */
  background-color: #fff;
  /* Misc */
  transform: translate(-50%, -50%);
  opacity: 0.6;
  border-radius: 50%;
  content: "";
}

.hue::after {
  /* Positioning */
  position: absolute;
  /* Box-model */
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  /* Typography */
  /* Visual */
  background-color: #0080ff;
  /* Misc */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  content: "";
  opacity: 0.6;
  mix-blend-mode: multiply;
}

ul {
  /* Positioning */
  /* Box-model */
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  /* Typography */
  /* Visual */
  list-style: none;
  /* Misc */
}

ul > li {
  border-radius: 50%;
  /* Positioning */
  position: relative;
  /* Box-model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  margin-right: 2em;
  padding: 2em;
  /* Typography */
  /* Visual */
  background-color: lightgray;
  color: var(--dark-blue);
  /* Misc */
  pointer-events: none;
}

ul > li span {
  z-index: 5;
}

ul > li a {
  /* Positioning */
  /* Box-model */
  width: 4.5em;
  height: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Typography */
  /* Visual */
  color: inherit;
  /* Misc */
  border-radius: 50%;
  text-decoration: none;
  pointer-events: all;
  flex-shrink: 0;
}

ul > li:not(:last-child) span::after {
  /* Positioning */
  position: absolute;
  right: 0;
  top: 50%;
  /* Box-model */
  width: 2em;
  height: 5px;
  /* Typography */
  /* Visual */
  background: var(--white);
  /* Misc */
  content: "";
  transform: translateX(100%) translateY(-50%);
}

ul > li.hue,
ul > li.locked {
  color: var(--white);
}

ul > li.locked {
  opacity: 0.68;
}

ul > li.locked a {
  pointer-events: none;
  cursor: default;
}

ul > li:last-child {
  margin-right: 0;
}
