:root {
  --color-purple: #8c73b1;
  --blue: #3f51b5;
  --green: #54ba54;
  --yellow: #e7ef37;
  --orange: #f6f7f9;
  --white: #fff;
  --light-blue: #cdd5e9;
  --light-green: #c8e8c7;
  --light-yellow: #f4f4d7;
  --light-orange: #f9ddb3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* Positioning */

  /* Box-model */
  height: 100vh;
  width: 100vw;

  /* Typography */
  font-family: "Poppins", sans-serif;

  /* Visual */
  background-image: url("../assets/background-image.png");
  background-size: cover;
  background-repeat: no-repeat;

  /* Misc */
}

.cta-purple {
  /* Positioning */
  /* Box-model */
  padding: 0.3em 1em;
  /* Typography */
  font-size: 1.5rem;
  text-decoration: none;
  /* Visual */
  color: var(--white);
  background-color: var(--color-purple);
  border-radius: 1em;
  /* Misc */
}
